@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

html,body {
    min-height: 100vh;
    background-color: slategray;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header >p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: rgba(238, 229, 105, 0.438);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px

}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgba(0, 0, 0, 0.445);
    color: white;

}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 0px 10px;
    border: black 1px solid;

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}