@charset "UTF-8";
 /*Fontes */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700&display=swap');


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Dancing Script", cursive;
}

*{
    margin: 0px;
    padding: 0px;

}

html,body {
    min-height: 100vh;
    background-color: slategray;
    font-family: var(--fonte1);
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header >p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: rgba(238, 229, 105, 0.438);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw

}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgba(0, 0, 0, 0.445);
    color: white;

}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 0px 10px;
    border: black 1px solid;

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}